<div class="container">
    <div class="row">
        <h1 class="text-center"><p class="titulo-ropa">ACCESORIOS</p></h1><br><br><hr>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Gorra JORDAN</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Gorra1.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>79.900$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Gorra NIKE</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Gorra2.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>79.900$</strong></p>
                </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Gorra ADIDAS</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Gorra3.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>79.900$</strong></p>
                </div>
            </div>
          </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                   <p class="texto-ropa text-center">Rejoj TECHNOMARIN</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Reloj1.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                   <p class="texto-ropa text-center"><strong>650.000$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                   <p class="texto-ropa text-center">Gafas DIOR</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Gafas.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>960.000$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Reloj BRERA</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('Reloj2.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>475.000$</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>