<div class="container">
    <div class="row">
    	<div class="col-md-4">
			<%= image_tag('Chica.jpg',class:"img-thumbnail tamano-chica img-responsive text-center") %>
		</div>
    	
    	<div class="col-md-5">
			<div class='csslider1 autoplay '>
			<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
			<input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
			<ul>
				<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
					<%= image_tag("Foto Ropa.jpg",:style => "width: 100%")%>
				</div>
				<li class='num0 img'>
					 <%= image_tag("Foto Ropa.jpg") %>
				</li>
				<li class='num1 img'>
				     <%= image_tag("carrusel3.jpg") %>
				</li>
				<li class='num2 img'>
				     <%= image_tag("carrusel2.jpg") %>
				</li>
			
			</ul>
			<div class='cs_description'>
				<label class='num0'>
					<span class="cs_title"><span class="cs_wrapper">Ropa</span></span>
				</label>
				<label class='num1'>
					<span class="cs_title"><span class="cs_wrapper">Accesorios</span></span>
				</label>
				<label class='num2'>
					<span class="cs_title"><span class="cs_wrapper">Y Mucho mas...</span></span>
				</label>
			</div>
			
			<div class='cs_arrowprev'>
				<label class='num0' for='cs_slide1_0'></label>
				<label class='num1' for='cs_slide1_1'></label>
				<label class='num2' for='cs_slide1_2'></label><p class="texto-transparente">mawtechaa</p>
			</div>
			<div class='cs_arrownext'>
				<label class='num0' for='cs_slide1_0'></label>
				<label class='num1' for='cs_slide1_1'></label>
				<label class='num2' for='cs_slide1_2'></label><p class="texto-transparente">mawtechaa</p>
			</div>
				<div class='cs_bullets'>
					<label class='num0' for='cs_slide1_0'>
						<span class='cs_point'></span>
						<span><% image_tag("http://cssslider.com/sliders/pen/tooltips/buns.jpg", class:"cs_thumb") %></span>
					</label>
					<label class='num1' for='cs_slide1_1'>
						<span class='cs_point'></span>
						<span><% image_tag("http://cssslider.com/sliders/pen/tooltips/croissant.jpg", class:"cs_thumb") %></span>
					</label>
					<label class='num2' for='cs_slide1_2'>
						<span class='cs_point'></span>
						<span><% image_tag("http://cssslider.com/sliders/pen/tooltips/lemonpie.jpg", class:"cs_thumb") %></span>
					</label>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="alert alert-dismissible alert-info dimension">
		  		<p class="text-center texto-al-lado-imagen" ><strong>Main de dieu</strong> es una tienda especialmente 
		  		para ti, contamos con marcas como: <strong>Kush Brand</strong>,
				<strong>Fourtwenty</strong>,<strong>Cosplay</strong> y ademas ropa importada. Envios a todo el pais.</p>
			</div>
		
		  <div class="panel panel-default dimension">
	  		 <div class="panel-heading">
	    		<h3 class="panel-title"><p class="fuente-nuestrasM text-center">NUESTRAS MARCAS</p></h3>
	  			</div>
	  			<div class="panel-body">
					<ul class="lista-marcas">
						<li><span class="glyphicon glyphicon-expand"></span> Adidas</li>
						<li><span class="glyphicon glyphicon-expand"></span> Nike</li>
						<li><span class="glyphicon glyphicon-expand"></span> KushBrand</li>
						<li><span class="glyphicon glyphicon-expand"></span> VapeFactory</li>
						<li><span class="glyphicon glyphicon-expand"></span> 420</li>
					</ul>
	  			</div>
			</div>
			
		</div>
	</div>
</div>
<hr>

<div class="container espacio">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
  				<div class="panel-heading altura-heading">
    				<p><h2 class="panel-title titulo"><span class="glyphicon glyphicon-eye-open"></span> Visión</h2></p>
  				</div>
  				<div class="panel-body">
    				<p class="textos">Ser una empresa de referencia, 
    				en continuo crecimiento, que se distinga 
    				por proporcionar una calidad de atención y 
    				servicio excelente a sus clientes.</p>
  				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="panel panel-primary">
  				<div class="panel-heading altura-heading">
    				<p><h2 class="panel-title titulo"><span class="glyphicon glyphicon-globe"></span> Misión</h2></p>
  				</div>
  				<div class="panel-body">
    				<p class="textos"> Somos una empresa relativamente 
    				nueva en el mercado, orientada a ofrecer 
    				la mejor calidad y variedad en productos y 
    				servicios de venta, brindándole a nuestros 
    				clientes las mejores opciones de compra.</p>
  				</div>
			</div>
		</div>
		<hr>
		<div class="col-md-12">
			<div class="panel panel-warning">
  				<div class="panel-heading altura-heading">
    				<p><h2 class="panel-title titulo"><span class="glyphicon glyphicon-share"></span> Quienes somos?</h2></p>
  				</div>
  				<div class="panel-body">
    				<p class="textos"> Main de Dieu es una empresa pequeña y relativamente nueva, 
    				su principal actividad es la venta de prendas de vestir, 
    				y todo tipo de accesorios como gorras, manillas entre otros, 
    				puede visitarnos y conocer todos nuestros productos y precios.</p>
  				</div>
			</div>
		</div>
	</div>
</div>


<div class="container espacio-visitanos">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center"><p class="texto-visitanos  bg-info">¡VISÍTANOS!</p></h1>
		</div>
		
		<div class="col-md-4 col-md-offset-2 espacio-visitanos">
			<%= image_tag('Fachada almacen.jpg', class:"img-thumbnail") %>
		</div>
		
		<div class="col-md-5 espacio-visitanos">
			<h4><p class="well-como-llegar como-llegar text-center">Como Llegar</p></h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!
			1m12!1m3!1d247.91750280521157!2d-75.58529478023611!3d6.17
			3574195128221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!
			1m2!1s0x8e468251d033ac0f%3A0xee2cc54ec1bd77e7!2sTv.+33+Sur
			+%2339-17%2C+Envigado%2C+Antioquia%2C+Colombia!5e0!3m2!1se
			s!2ses!4v1467679989129" frameborder="0" style="border:0" allowfullscreen class="img-responsive  imgrande"></iframe>
		</div>
	</div>
</div>


