<div class="container">
    <div class="row">
        <h1 class="text-center"><p class="titulo-ropa">ROPA</p></h1><br><br><hr>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa1.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa2.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa7.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
            </div>
          </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                   <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa4.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                   <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                   <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa5.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="texto-ropa text-center">Camiseta KUSHBRAND</p>
                </div>
                <div class="panel-body">
                    <%=image_tag('ropa6.jpg',class:"img-responsive") %>
                </div>
                <div class="panel-footer footer-azul-oscuro">
                    <p class="texto-ropa text-center"><strong>45.000$</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>