<%= simple_form_for(@venta) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      
      <div class="col-md-12">
        
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <div class="col-md-12">
              <%= f.input :fecha,:label => "Fecha", as: :datetime_picker, readonly: true,
              	input_html: {value: venta.fecha.try(:strftime, '%d/%m/%Y'),
                    	data: {date_options: {format: 'DD/MM/YYYY', ignoreReadonly: true}}},placeholder:"Fecha" %>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
          <div class="col-md-12">
            <%= f.input :hora, :label => "Hora" %>
          </div>
        </div>
        
      </div>
      
      
      <div class="col-md-12">
        
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <div class="col-md-12">
            <%= f.input :total,:label => "Total", placeholder: "Total Venta" %>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
          <div class="col-md-12">
            <%= f.association :tipos_pago, :label => "Tipo de Pago", prompt:"Seleccione Tipo de Pago" %>
          </div>
        </div>

      </div>
      
      
      <div class="col-md-12">
        
        <div class="col-md-4 col-md-offset-2 col-sm-6">
          <div class="col-md-12">
            <%= f.association :empleado,prompt:"Seleccione Empleado" %>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
          <div class="col-md-12">
            <%= f.association :cliente,prompt:"Seleccione Cliente" %>
          </div>
        </div>
        
      </div>
      
      
      
       <h3>Detalles</h3>

      	<div class="row compact">
       	<%= f.fields_for :detalles do |detalles_for_form| %>
          	<%= render 'detalle_fields', f: detalles_for_form %>
       	<% end %>
       	<%= link_to_add_fields "Agregar", f, :detalles %>
      	</div>
       </div>



      
    </div>
  </div>
   <div class="form-actions col-md-2 col-md-offset-4">
    <%= f.button :submit, class:"btn btn-success" %>
  </div>
<% end %>
